adafruit-circuitpython-motorkit==1.6.15
adafruit-circuitpython-seesaw==1.16.4
Flask==3.1.0
numpy==2.1.3
PyAudio==0.2.14
python-vlc==3.0.21203
readchar==4.2.1
# RPi.GPIO==0.7.0 # replace with gpiozero # ERROR
scipy==1.14.1
# adafruit_ds3502
# board
# digitalio
