{% extends 'base.html' %}
<!-- hide header and nav so the quiz is cleaner --> 
{% block header %}
    <h1 class="center">
        <a href="/">Vögelroboter
        {% block title %} {{ p.page_title }} {% endblock %}
        </a>
    </h1>
{% endblock %}

{% block nav %}<!-- keeps nav from main template from showing --> {% endblock %}
{% block content %}
    < img src="/static/birds/{p.bird.img}" class="centerpad">
    <img src="/static/birds/{{ session['bird']['img']}}" class="centerpad">
    <p class="centerpad" style="font-size:24px">
        {{ session['question_number'] }}) Welcher Vogel ist das? 
    </p>
    <ul class="centerpad">
        {% for answer in p.answers %}
            <li class="listpad"><a href="{{url_for('quiz')}}/{{answer}}">{{answer}}</a></li>
        {% endfor %}
    </ul>

    <!-- -->
    <hr>
    Debugging<br>
    bird: {{ session['bird']['name'] }}<br>
    bird img: {{ session['bird']['img'] }}<br>
    last correct? {{p.last_correct}}<br>
    used list?  {{session['used']}}<br>
    -->
{% endblock %}


