{% extends 'base.html' %}
<!-- hide header and nav so the quiz is cleaner --> 
{% block header %}
    <h1 class="center">
        <a href="/">Vögelroboter
        {% block title %} {{ p.page_title }} {% endblock %}
        </a>
    </h1>
{% endblock %}

{% block nav %}<!-- keeps nav from main template from showing --> {% endblock %}
{% block content %}
    <div>
        <img style="float: left; margin-right: 0.4em;" src="/static/birds/{{ session['bird']['img']}}" alt="image of test bird" >
        <p class="fcenterpad" style="font-size:24px; text-align: center;">
            {{ session['question_number'] }}) Welcher Vogel ist das? 
        </p>
        <ul class="centerpad">
            {% for answer in p.answers %}
                <li class="listpad"><a href="{{url_for('quiz')}}/{{answer}}"><button type="button" class="button-19">{{answer}}</button></a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- 
    <hr>
    Debugging<br>
    bird: {{ session['bird']['name'] }}<br>
    bird img: {{ session['bird']['img'] }}<br>
    last correct? {{p.last_correct}}<br>
    used list?  {{session['used']}}<br>
    -->
{% endblock %}


